h1 {text-align:center; margin-top: 10%;color: #ffffff}
    div { text-align: center;margin:  0 auto; margin-top: 10%}
    button {width:25%}
body {background-image: url(bckg.jpg); };
h1 {text-decoration-color: #ffffff}