div { text-align: center;margin:  0 auto; color:white}
    input {text-align: center; display: none;}
header { text-align: center;}
button {display: visible;}
#ev_name {text-align: center;}
.i {display: inline-block}
#team  { display:none;}
#1v14 {display: none;}
#t { display:none;}
#t1 {display: none;}
#t2 {display: none;}
#t3 {display: none;}
#team1 {display: none;}
#1v12 {display: none;}